# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Dependency directories
node_modules/
dist/

# Eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# IDE preferences
.idea
.vscode
.vs

/coverage

docs/
